@font-face {
    font-family: 'ubuntumedium';
    src: url('fonts/Ubuntu-M_0-webfont.eot');
    src: url('fonts/Ubuntu-M_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-M_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-M_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-M_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-M_0-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/Ubuntu-R_0-webfont.eot');
    src: url('fonts/Ubuntu-R_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-R_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-R_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-R_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-R_0-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('fonts/Ubuntu-L_0-webfont.eot');
    src: url('fonts/Ubuntu-L_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-L_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-L_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-L_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-L_0-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/Ubuntu-B_0-webfont.eot');
    src: url('fonts/Ubuntu-B_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-B_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-B_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-B_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-B_0-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}
li{list-style-position: inside;}
.aside-title,.page-title,.form .form-section{ font-family: 'ubuntumedium';}
aside .btn-default,.mobile-site b,.bold,.table thead tr th{font-family: 'ubuntubold';}
.btn.btn-week,.form-section,.bootstrap-select.btn-group .btn .filter-option,.btn.default.btn-file,a.fileinput-exists{font-family: 'ubunturegular';}
body{ font-family: 'ubunturegular';}
img{ max-width:100%;}
ul{ padding:0; margin:0;}
a:hover, a:focus{ text-decoration:none}
a{ -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;}
 input:focus,.btn:focus{ outline:none}
.btn, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username{ font-family: 'ubuntumedium';}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler i { font-size:24px; text-align:right;}
.page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler{ opacity:1}
.change-cmny{ margin:24px 0 0 20px; float:left;}
.grey-salsa.btn span{ margin:0 0 0 10px}
aside{ background:#435f91; padding:20px 0 0 0}
.aside-title{ font-size:24px; color:#fff; margin:10px 0 15px}
.aside-txt{ color:rgba(255,255,255,.5); font-size:16px;}
.envelope-icon{ background:#fff; width:96px; height:96px; border-radius:100%; float:left; text-align:center; line-height:96px; color:#435f91; font-size:56px; margin:0 15px 0 0}
.envelope-icon i{line-height:96px; color:#435f91; font-size:56px;}
aside .btn-default{ font-size:18px; min-width:120px; margin:10px 0 20px}
.aside-right{ overflow:hidden}
.aside-social a i{font-size:40px;}
.aside-social a{ font-size:40px; color:rgba(255,255,255,0.4); margin:20px 14px 0; display:inline-block}
.aside-social a:hover{ color:rgba(255,255,255,1)}
.mobile-site{ font-size:18px; color:#fff; overflow:hidden; margin:20px 0 0 15px}
.mobile-site b{ font-size:24px; font-weight:normal}
.mobile-img{ margin:0 15px 0 0; float:left}
footer{ background:#073870; border-top:solid 7px #022458; padding:0px 0 0}
footer li{ list-style-type:none}
footer ul{ padding:0; margin:0;}
footer li a{ color:#fff; font-size:12px}
footer li a:hover, footer li a.active{ color:#8ec11a}
.copy-right{ background:#39608d; padding:10px 0; margin:0px 0 0 0; font-size:13px; color:#fff;}
.netclues-logo span{ background:url(../images/netclues-logo.png) no-repeat; opacity:.7; width:56px; height:14px; display:inline-block; margin:0 0 0 5px}
.netclues-logo span:hover{ opacity:1;}
.keywords{ font-size:14px; color:#777}
.keywords li{float:left; width:50%; margin:0 0 7px; list-style-type:none}
.keywords a{color:#777;  }
.keywords a b{ color:#31ccfd; font-weight:normal}
.keywords a span{ margin:0 5px 0 0; font-size:17px}
.keywords a:hover{ color:#000;}
.modal-body{ font-size:14px;}
.popup-title{ font-size:16px; margin:0 0 15px; color:#073870}
.popup-title span{ margin:0 5px 0 0; color:#8ec11a; font-size:20px; vertical-align:middle}
.table thead tr th{ font-weight:normal}
.numeric .icon-check{ color:#8ec11a;}
.numeric .icon-close{ color:#f26722;}
.numeric .icon-check:hover, .numeric .icon-close:hover{ color:#073870}
/* IE note */
.buorg{display:none; font-family:Arial,Helvetica,sans-serif; font-size:12px; left:0; position:relative; text-align:left; top:0px; width:100%; z-index:111111; height:30px; line-height:25px; background:#fdf2ab}
.buorg01{width:415px; margin:auto; text-align:center;text-transform:capitalize;padding-top:2px}
.buorg-img{margin:2px 0 0 0; float:left;}
.buorg02{margin:-25px 0 0 0; color:#000;float:left;padding-left:20px}
/* IE note end */
.prev.available,.next.available{ cursor:pointer}
.add-event{ position:absolute; right:100px;}
.add-event i{ font-size:14px;}
.feeds a{ color:#777; font-size:14px; float:left}
.feeds a:hover{ color:#073870}
.feeds .label-default{ margin:0 2px;}
.choose-date{ font-weight:normal; margin:0 3px 0 0}
.grey-salsa.btn.add-cmny{ margin:3px 0 0 20px;background:#f1f1f1}
.combo-space{ vertical-align:middle; margin:0 5px 0 0 !important;}
.table-btm-space{ margin-bottom:8px;}
.portlet > .portlet-body.gray,
.portlet.gray {
  background-color: #eee;
}
.portlet.box.gray {
  border: 1px solid #ddd;
}
.form-horizontal .form-inline .form-group{ margin-left:0; margin-right:0;}
.btm-space{ margin-bottom:15px}
.btn-week{ min-width:85px; font-size:14px; cursor:default; color:#8EC11A; text-align:right; padding:0 10px 0 0 }
.copy-time{ padding-left:0; margin:5px 0 0 5px; display:inline-block;}
.copy-time label{ font-size:13px; color:#737373; line-height:22px;}
.visible-xs-small{ display:none}
.btn.right-5{ margin-right:5px;}
.visible-1024{ display:none}
.btm-space-10{ margin-bottom:10px}
.help-note{ position:relative; top:6px; margin: 0 0 0 10px;}
.help-note i{ font-size:21px; color:#c6c6c6;}
.input-icon > i.fa-mobile{ font-size:22px;}
.tabbable-line > .nav-tabs > li > a{ padding:10px 12px;}
.bs-select .selectpicker { background:#fff !important; border:solid 1px #ddd; padding-bottom:4px}
.btn.default.btn-file{background:#e5e5e5; color:#333; font-size:13px}
a.fileinput-exists{ font-size:13px;}
input[type=text], textarea, input[type=password]{ -webkit-appearance:none;}
.view-mode span{ line-height:38px; color:#7c7c7c}
.view-mode span,.view-mode ul{ float:left}
.view-mode ul {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    display: inline-block;
    list-style: outside none none;
    margin-left: 5px;
    padding: 0;
}
.view-mode ul li {
    color: #adb2b6;
    cursor: pointer;
    display: inline-block;
    float: left;  
    height: 39px;   
    margin: 0;
    padding: 0 10px;
    text-align: center;
	float:left;
    transition: background-color 0.2s ease-out 0s;
}
.view-mode ul li a{ padding:0; margin:0; background:none !important; border:none !important; color:#adb2b6 !important}
.view-mode ul li i{ font-size:22px; line-height:38px;}
.view-mode ul li.active, .view-mode ul li:hover {
    background-color: #f1f3f6;
}
.view-mode ul li + li {
    border-left: 1px solid #e4e4e4;
}
.view-mode{ float:right}
.color-chart a:hover span{ color:#252525 ;}
.color-chart{ margin:0; font-size:14px; float:right}
.color-chart span{ margin:0 10px; float:left}
.color-chart span i{  width:7px; height:7px; float:left; margin:6px 5px 0 0}
.specials{color:#8ec11a}
.specials i{background:#8ec11a; }
.Live-event{color:#97a3b4}
.Live-event i{background:#97a3b4;}
.Book-table i{ background:#f26722}
.Book-table{ color:#f26722;}
label.filter{ line-height:34px; margin:0 5px 0 0;}
.event-title{ margin-right:5px; float:left}
.form-control{ line-height:18px;}
.search-btn{position: absolute;
  right: 1px;
  top: 1px;
  padding: 5px 10px;}
  .multiselect{ background:#fff; border:solid 1px #e5e5e5; font-size:14px; color:#333;font-family: 'ubunturegular'; border-radius:0 4px 4px 0;}
  .multiselect:hover, .multiselect:active, .multiselect:focus{ background:#fff !important; color:#333;}
  .multiselect-container > li.active div.checker span, .multiselect-container > li.active div.checker span.checked{background-position: -76px -260px;}
   .multiselect-container > li div.checker span, .multiselect-container > li div.checker span.checked{background-position:0 -260px;}
   .delete{ margin-top:-50px;position: relative;z-index: 999;}
   table.table-bordered tbody th, table.table-bordered tbody td{ vertical-align:middle}
   /*.dataTables_wrapper th:first-child, .dataTables_wrapper td:first-child{ text-align:center}*/
   .gray-line{ border-bottom:1px solid #eee; margin-bottom:10px; margin-top:10px}
   .main-nav{ background-color:#8ec11a; border-bottom:none; border-radius:4px; font-family: 'ubuntumedium'; height:42px;}
   .main-nav .dropdown.open > .dropdown-toggle, .main-nav li a:focus, .main-nav li a:hover{ background-color:transparent; margin:0; border-radius:0 4px 4px 0}
   .main-nav li a{font-size:16px; border:none !important; color:#fff; border-radius:0; margin:0; padding:0;}
   .main-nav li{ padding:10px 15px}
   .main-nav li a:hover, .main-nav li a.active{ color:#333; border:none; background:none !important}
   .nav > li > a:focus{ background:none}
   .thumb-img{ border:solid #e5e5e5 1px; margin:0 10px; float:left}
   .delete-text i{ position:absolute; right:3px; top:6px; color:#747474;}
   #cat-container .row + .row h4{ display:none}
   #cat-container .row h4{ display:block; margin:0 0 5px 0}
/*    #cat-container .fileinput-new{ display:none}
*/	
   .catimagspn{ position:relative}
   .cat-div{ float:left; margin-right:25px;}
   .deletebtn{ margin-left:15px;}
   .add-cat{ margin-bottom:15px}
   .input-smbox{ max-width:110px;}
   .cat-name{float:left; width:265px;}
   .ranking{float:left; width:137px;}
   .advert-img{float:left}
   .main-nav .tabdrop.active a{ background:none; margin:0; border-radius:0 4px 4px 0}
   .no_records{ margin-top:-30px}
   .tripadvisor{ background:url(../images/tripadvisor.png) no-repeat center; background-size:100%; width:20px; height:20px; float:left; opacity:.5; margin:0 -3px}
   .ecay-icon{ background:url(../images/ecay-icon.png) no-repeat center; background-size:80%; width:20px; height:20px; float:left; margin:0 -3px}
   .search-container{ background:#e5e5e5; border-radius:4px; padding:5px 7px 5px 10px; margin:0;}
   .search-div{ float:right}
   .search-input{ float:left;}
   .main-nav .dropdown-menu li{ padding:5px 10px}
   .main-nav .dropdown-menu li a{ color:#333;}
   .main-nav .dropdown-menu li a:hover{ color:#8ec11a;}
   .social-input{ position:relative; top:-5px; overflow:hidden}
   .social-checkbox{ min-width:160px}
   .pop-icon{ font-size:16px; margin:0 5px 0 0; color:#8ec11a}
   .white{ color:#fff !important; font-size:17px !important}
   .input-group .input-group-addon > i.fa-mobile{ font-size:22px}
   .model-list li{ list-style-type:none;}
   .model-list li i{ margin-right:5px; color:#8ec11a}
   .sub-menu-icon{ position:absolute !important; padding:0 !important; top:5px; right:10px; border:none !important}
   .sub-menu-icon i{ color:#fff !important; font-size:24px !important;}
   .page-sidebar-menu  li{ position:relative}
   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open::before, .page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar .page-sidebar-menu li > a > .arrow.open::before{ color:#fff; font-size:24px;}
.error{ color:#dd0000; font-size:13px;}
.login-form .error{ color:#ffb1b1}
 .table-link{ color:#333333;}
 .table-link:hover{ color: #073870}

 .choice-combo ul{ min-height:100px !important}
   #social_media_form .tooltip-inner{ max-width:none; width:300px}
  
  .news-slider .slider-content2 p{ min-height:80px}
.newsletter{ width:100%; border:none; padding:5px 10px; border-radius:2px;  margin-bottom: 5px;}
.footer-cloud{ color:#fff; margin-top:15px;}
.footer-cloud .cloud{ float:left}
.footer-cloud span{   float: left;    font-family: "ubuntubold";    font-size: 17px;    margin-left: 17px;    margin-top: 5px;}
.footer-cloud span sup{ font-size: 8px;    line-height: 20px;    vertical-align: top;} 
.cke_contents{ padding:10px 15px !important}
.ui-dialog{ outline:none !important}
.left-btn{ float:left; margin:-25px 10px 0 0}
.export-btn{ margin:-25px 0 0 0; float:left }
.tooltips i.icon-question{ margin-left:5px; margin-top: 34px;}
.search-container .date-picker{ background:#fff;}
.mgr5{ margin-right:5px !important}
.dashboard-stat .details.last{ width:85%}
.dashboard-stat .details .desc{ line-height:18px}
.gallery-grid{ background:none !important}
.gallery-grid td.sorting_1{ background-color: #f1f3f6; border: 1px solid #e5e5e5 !important; border-radius:4px; margin:15px 0; display:block}
.mix-inner{ overflow:hidden; position:relative; margin-bottom:10px}
.mix-inner img{ max-width:100%; height:160px; width:auto}
.mix-details{ background:#fff; padding:6px; border-radius:4px;}
.mix-details textarea{margin:0 0 5px;}
.mix-link{ padding:6px 7px; display:inline-block} 
.mix-link i{ font-size:17px}
.order{ color:#7c7c7c; font-size:13px; margin:9px 5px; display:inline-block}
.display-order{ display:inline-block; width:60px}
.gallery-image-options{ background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(0.75);
	-webkit-transform: scale(0.75);
    transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
	}
.mix-inner:hover .gallery-image-options{ opacity: 1;
transform: scale(1); -webkit-transform: scale(1);}
.gallery-image-options .fa-search-plus{ color:#fff; font-size:32px; position: absolute; top:40%; line-height:32px; margin:0 0 0 -10px}
.main-nav .dropdown-menu li a.active{ color:#8ec11a}

.reviewmain #tootip{display:inline}
.reviewmain .tooltips i.icon-question{margin:0}
.modal {
	max-height:90%;
	max-width:90%;
	margin-top:-45%;
	overflow-y: scroll;
}
#customModal{width: 530px;}
.reservation .paid,.reservation .checkin,.reservation .ticket{display:inline-block}
.reservation .ticket{display:inline-block}
.reservation .refund{float:left;width:16px;}
.reservation .modal-body tr{ height: 35px; }
.reservation #allreadyCheckedInTbl tr th{  text-align: center;}
.reservation .paid a{margin-right:10px;float:left}
.reservation .icon-resvation{width:135px;margin:auto}
.reservation td.dt-center { text-align: center; }
.reservation .refund a{margin-right:0}
#insScheduleDownload .schedule{
    float: right;
    margin-right: 15px;
    margin-top: 26px;
}
.schedule .btn{font-size:13px;}
.ridehistory_result{margin-bottom:10px !important;}
.ridehistory_result label{margin:0; font-size:15px; text-transform:capitalize;}
footer .copy-right .container { margin-left: 235px; width: auto !important; }
.page-sidebar-closed footer .copy-right .container { margin-left: 45px; }
.dashbord .reservation-list .row-right { top: -57px; }
.dashbord .reservation-list .row-left { top: -60px; }
.dashboard-stat { position:relative; }
.dashboard-stat .details { height: 92px; overflow: hidden; right: 0px; padding: 0px 15px; }

@media screen and (-webkit-min-device-pixel-ratio:0){
.delete-text i{ right:3px; top:-8px;}
}
@media (max-width:1400px){
.search-tab.nav-tabs > li{ width:48%; text-align:center}
.to-date,.combo-space{ margin-bottom:5px !important}
.mix-inner img{ height:135px}
.dashbord .reservation-list .row-left{ left: -212px; }
.dashbord .row-left ul li:last-child { left: 308px; }
.dashbord .reservation-list .row-right { top: -40px; right: -200px; }
.dashbord .row-right ul li:first-child { left: 155px; }
.dashbord-upcoming #TimeCombo .bootstrap-select { width: 45%; }
.dashbord-upcoming #TimeCombo .bootstrap-select button.btn { padding-right: 30px !important; }
}
@media (min-width:1400px){
.CompanyDropDown{ width:220px !important}
}
@media (max-width:1199px){
.social li a{ font-size:11px;}
.aside-social a{ font-size:32px; margin-left:10px; margin-right:10px;}
.copy-time{ margin-left:0px;}
/*.input-filter{ width:200px !important}
*/.cat-div .uneditable-input{ min-width:160px;}
.cat-div{margin-right:15px;}
.deletebtn,#cat-container .bootstrap-switch{ margin-bottom:15px}
.search-div button{ float:right !important}
}
@media (max-width:1199px) and (min-width:992px){.visible-1024{ display:block} .copy-time{ margin-left:95px;} .dashboard-stat .details .desc{ font-size:15px;}}

@media (max-width:1024px) and (min-width:768px){
.ipad-cat-1{ padding-right:0; width:23%; float:left}
.ipad-cat-2{ width:13%;padding-right:0;float:left}
.ipad-cat-3{padding-right:0;float:left; width:33%;}
.ipad-cat-4{padding-right:0; width:7%;float:left}
.ipad-cat-5{padding-right:0; width:13%;float:left}
.ipad-cat-6{padding-right:0; width:10%;float:left}
.ipad-cat-4 .thumb-img{ margin:0;padding-right:0}
.ipad-cat-6 .deletebtn{ margin:0}

}

@media (max-width:1024px){
.dashbord .row-left ul li:last-child { left:259px; top:-36px;}
.dashbord .row-right ul li:first-child { left:114px; top:-26px;}
.dashbord .reservation-list .row-left{ left: -197px; }
.dashbord .reservation-list .row-right { right: -186px; }
#userpackageCombo { width:100% !important}
.table-container {
    overflow: hidden;
}


}

@media (max-width:991px){
/*	body{ background:#fff;} */
	.cat-div{ margin-right:8px}
	.search-input{ width:230px !important}
	#reservationBookingModal{width:100% !important}
	#searchMusicModal{width:100% !important}
	footer .copy-right .container,
	.page-sidebar-closed footer .copy-right .container { margin-left: 0px; }
}
@media (max-width:767px){
.aside-title{ margin-bottom:0;}
.aside-social a{ margin-bottom:25px; margin-top:15px}
.copy-right .col-sm-6.text-right{ text-align:left; margin-top:3px}
.page-header.navbar .menu-toggler.responsive-toggler{ margin-top:15px;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{ padding-top:16px; padding-bottom:16px}
.page-header.navbar .page-logo .logo-default{ margin: 2px 0; max-width: 50%; }
.mobile-double-line{ height:49px}
.page-sidebar{ margin:0;}
.page-bar{ display:none}
.btn-week{ text-align:left; margin-bottom:-10px; display:block}
.search{ width:100% !important}
/*.input-filter{ width:42% !important; margin:0 10px 10px !important }
*/.search-div {float: none; margin-bottom:5px; overflow:hidden}
.search-input{ float:left;  margin:0 0 10px}
.search-div button{ float:left !important; margin-top:1px}
#cat-container .row h4{ display:block; font-size:14px;}
#cat-container .col-xs-3 h4{ display:none !important}
#cat-container .thumb-img{ margin-top:0; margin-right:0;} 
#cat-container .row{ margin-bottom:30px}
.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4{ padding-left:15px; padding-right:15px}
#cat-container .col-xs-3{ width:auto;  padding-right:5px}
.delete-text i{ right:-3px; top:-5px}
.left-btn, .export-btn{ margin-top:0}
.to-date{ margin:10px 0 !important}
.mix-inner img{ height:auto}
}
@media (max-width:600px){
	.keywords a, .feeds li .col1,.feeds li .col2{ width:100%}
	.feeds li .col2 > .date{ text-align:left; padding-left:35px}
	.search-tab li{ width:50%}
	.input-filter{ width:100% !important; margin:0 0 10px !important }
	.save-next{ margin-bottom:10px;}
	.search-input{ width:100% !important}
.search-container{ margin-top:5px}
.search-div button{ margin:0 5px 0 0 !important}
.social-input{ width:100%; margin:5px 0 0 0; float:left}
.social-input .input-medium{ width:100% !important}
}

@media (max-width:479px){
.change-cmny{ margin:0;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle{ background-color:transparent}
.iphone-view{ display:block; width:100%; float:left; margin:0 0 20px; text-align:center}
.calendar .nav > li > a{ padding:10px 9px;}
.add-event {
    float: right;
    margin: 0 0 15px;
    position: relative;
    right: 0;
    width: 100%;
}
.cal-tab li a{ font-size:11px;}
.choose-date{ display:block}
.btm-10{ margin-bottom:10px;}
.keywords li{ width:100%;}
.calendar .view-mode ul li a{ padding:0;}
.visible-xs-small{ display:block !important}
.thumb-img{ margin:10px 10px 0 0;}
.delete-text{ padding-top:15px;}
}
.mt25 { margin-top:25px;}
.resCheckinCont a { background-color:#ecaf2f !important;}
.resCheckinCont a:hover { background-color:#d49d2a !important;}
.resSubstitueFlag { float:right;}
.resSubstitueFlag a {color: #fff; background-color: #8ec11a; padding: 2px 7px; font-size: 13px; border-radius:100%;}
.resSubstitueFlag a:hover { background-color: #6C9B00; }
.ride-history-container { overflow: hidden; margin-bottom: 30px;}
/*.ride-history-container .ride-history-contain { background-color: #f1f3f6; }*/
#reservationBookingModal{ width: 840px;margin:auto !important;left:0;right:0;top:25px}
#searchMusicModal{ width: 840px;margin:auto !important;left:0;right:0;top:75px}


.bootstrap-select .dropdown-menu .dropdown-header{font-size:14px; color:#000000 !important;}
.res-col.res-allow.res-past { background: #E0DEDE; }

.book-a-ride-table .ryde-info td .res-col.res-allow.res-cancel { background: #FFD8D8; }
.res-col.res-allow.res-future { background: #E0DEDE; }
.res-col.res-allow.res-substitute{ background:#AFECFF;}
.bootstrap-select .dropdown-menu .dropdown-header{font-size:14px; color:#000000 !important;}
.reservation-list.mgtop0{margin-top:0 !important}
.reservation-outer.pdbox{padding:25px 0; background-color:#c1eefc; overflow:hidden;}
/*.buy-credit-btn{margin-bottom:5px;}*/
.dash-shoes-size{float: left; padding: 0px; width: 170px;}
.dash-shoes-size-fld{float: right; width: 92px;}

.search-container .multiselect{ width: 300px !important; }
.salesdropdown .search-container .multiselect-container{width:310px !important;margin:0 0 0 70px !important}
#frmCustomerAccountSearch .search-container .multiselect { width: 250px !important; }
#frmCustomerAccountSearch .search-container .multiselect-container{width:250px !important;}
#frmCustomerAccountSearch .search-container .multiselectdropdown{width:250px !important;}

.multiselect-container label.radio div.radio,.multiselect-container label.radio input[type=radio]{display: none;}	
ul.multiselect-container li a { padding: 1px 10px; }

#favoriteProductsTab .form-control { font-size: 13px; padding: 4px 10px; }
#favoriteProductsTab .decFItemTotalPrice { width: 75px; text-align: center; }
#favoriteProductsTab .intFItemQuantity { width: 40px; }
/*#favoriteProductsTab .favbtn{ height: 26px; padding: 0 15px; }*/
.customer_invoice { margin-bottom: 0px; border:none}
#customer_itemdetail_display .table { margin-bottom: 0px; }
.displayItemColor { display: inline-block; height: 15px; margin-right: 2px; vertical-align: middle; width: 15px;}
.resSubstitueFlag a[disabled], .resSubstitueFlag a[disabled]:hover { pointer-events: none; }
#customerAvaliableRide .bookingCustomerRide{ width:32%; float:left; margin-top:8px;}
.btn.default.waitlist { font-size: 14px; margin: 0 0 5px 0; padding: 0 5px; }
.dashbord{ overflow: hidden; }
.dashbord  .dash-book{ margin-top:5px;}
#dashbord-reserve-bike .btn.default{ position: relative;}
#UpComingClass .res-customer-detail.dropdown-menu { width: 500px; }
#music-search-result { height:200px;}
#musicsearchkey { margin-bottom:20px;}
#posCustomerAccountBal label.filter{ line-height:22px !important}
/*.copy-right .footer-logo {margin-top: -8px;}*/
.footer-logo .footer-img{margin-right: 15px; vertical-align: text-top;}
.footer-logo .footer-img-sec{vertical-align: text-top;}
.copy-right .footer-txt{margin-top: 10px;}

@media (max-width:1024px){.copy-right .footer-txt{text-align: center; padding-top: 0px; width: 100%;}.copy-right .footer-logo{padding: 20px 0 8px;width: 100%;} #customerAvaliableRide .bookingCustomerRide { width:40%; }}
@media (max-width:767px){.copy-right .footer-txt{text-align: center; padding-top: 0px;}.copy-right .footer-logo{padding: 20px 0 8px;} }
.retail-search .input-type{overflow:hidden;}
.retail-search .input-type .combo-space{width:100% !important;}
.retail-search .multiselect{width:75% !important;}

.checkin_responsive_table{max-height: 530px;overflow-y: auto;}
/* 03Feb2018 */
@media (max-width:1024px){
  .modal-scrollable .modal.fade {
    top: 10px !important;
    text-align: center;
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto !important;
    bottom: auto !important;
  }  
  .modal-scrollable .modal.fade.bootbox-confirm { top: 45% !important; }
  .modal-scrollable #addTimeSlotContainer #conflictCheck { display: inline-block; }
  .modal-scrollable #addTimeSlotContainer #conflictCheck .btn { margin-left: 0px; }
  .page-bar .page-breadcrumb > li { vertical-align: middle; }
}
@media (max-width:767px){
  .modal-scrollable .modal.fade.bootbox-confirm { top: 10% !important; }
}  
/* 03Feb2018 E */
.search-container #customer-cmbo-container { position: relative; z-index: 1; }
.search-container #uniform-walkinFld { position: relative; z-index: 1; }

/*13 Feb 2018*/


/*27 march 2018*/
.reservation_grid_overflow{overflow: auto;}
#guestCustomerNameFld .input-group{display:block;}
#guestCustomerNameFld .input-group b{ float: left; margin-right:10px; margin-top:7px;}
#guestCustomerNameFld #customerGuestName{ width: 36%;}

/*28 march 2018*/
.changeSizeContent{float:right;margin-bottom: 5px;}
.changeSizeContent .font-button{float:right; margin-left:10px; background-color:#073870;color:#fff;
 text-align:center; border-radius:4px;
 width:25px; height:25px; line-height:27px;
}
.changeSizeContent .font-button:hover{background-color:#8ec11a;}
.changeSizeContent .font-button i{font-size:14px;}
#guestCustomerNameFld #guestNameError{display: block; float: left; clear: left; margin-left: 102px;}

/*2 April 2018*/
.income-report-page-content .table thead tr th {font-size:inherit;}

@media(max-width:767px){
  #guestCustomerNameFld .input-group b{margin-bottom:5px;}
  #guestCustomerNameFld #customerGuestName{width:100%;}
}
.clear{clear:both;}
.book-a-ride-table .ryde-info td{
  padding:0px;
}

.book-a-ride-table .ryde-info td .res-allow{
  background-color:#fff;
  padding:10px 10px 0 10px;
  margin-bottom:0;
  border-bottom:1px solid #ccc;
  min-height:180px;
}
.book-a-ride-table .ryde-info td .res-allow.res-past{
  background: #E0DEDE;
  margin-bottom:0;
  border-bottom:1px solid #eeeeee
}
.book-a-ride-table .ryde-info td .res-allow.res-future{
  background: #E0DEDE;
  margin-bottom:0;
  border-bottom:1px solid #eeeeee
}

.book-a-ride-table .ryde-info td .res-allow:last-child {
  border-bottom:none;
  padding-bottom:0;margin-bottom:0;
}
.book-a-ride-table .ryde-info td .res-allow:nth-child(3) .schedule-description{
	top:auto;
	bottom:-9px;
}
.book-a-ride-table .ryde-info td .res-allow:nth-child(3) .schedule-description:before{
	top:auto;
	bottom:13px;
}
.book-a-ride-table .ryde-info td .res-allow:nth-child(4) .schedule-description{
	top:auto;
	bottom:-9px;
}
.book-a-ride-table .ryde-info td .res-allow:nth-child(4) .schedule-description:before{
	top:auto;
	bottom:13px;
}
.book-a-ride-table .ryde-info td .res-allow .resTimeSlot{
  color:#000;
  font-size:14px;
}
.book-a-ride-table .ryde-info td .res-allow span.resClassName{
  color: #073870;
  text-transform: inherit;
  padding-right:50px !important
}
.book-a-ride-table .ryde-info td .res-allow .right_inform{
  position:absolute;right:0;top:0;
}
.book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount{
  position:relative;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.book-a-ride-table .ryde-info td .res-allow .right_inform .edit_icon{
 /* width:17px;*/
  height:20px;
  border-radius:5px;
  line-height:22px;
  /*background-color:rgba(0,0,0,0.1);*/
  color:#073870;
  float:right;
  text-align:center;
  margin:0 2px;
}
.book-a-ride-table .ryde-info td .res-allow .right_inform .close_icon{
  /*width:17px;*/
  height:20px;
  border-radius:5px;
  line-height:20px;
  /*background-color:rgba(255, 0, 0, 0.2);*/
  color:rgba(255, 0, 0, 1);
  float:right;
  text-align:center;
  margin:0 2px;
}
.book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount{
  
  float:right;
  
  margin:0 1px;
}
.book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount .red.btn{
  width:20px;
  height:20px;
  border-radius:5px;
  line-height:18px;
  background-color:#F26722;
  color:#fff;
  text-align:center;
  padding:0;
  margin:0;
}
.book-a-ride-table .ryde-info td .res-allow .resSubstitueFlag a{
  border-radius:5px;width:20px;padding:0;
  display:inline-block;
  text-align:center;
}
.book-a-ride-table .ryde-info td .res-allow .resInstuctorName{

}



#UpComingClass .res-customer-detail.dropdown-menu{
    top: 25px;
    left: -53px;
    width: 300px;
}
.dropdown-checkin{
    position: absolute;
    margin: -9px 0 0 3px;
}
.dropdown-checkin .table-bordered{
    margin-bottom: 5px;
    margin-top: 6px;
}
@media (min-width: 200px){
  .book-a-ride-table .ryde-info td .res-allow .resTimeSlot,
  .resInstuctorName i, .resTimeSlot i,
  .right_inform .fa,
  .book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount .red.btn,
  .btn-sm, .btn-xs,
  .book-a-ride-table .ryde-info td .res-allow span.resClassName,
  .book-a-ride-table .ryde-info td .res-allow .resInstuctorName{
    font-size: inherit !important;
  }
  .book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount .red.btn{
    line-height: 142%;
    width: auto; 
    height: auto;
    padding: 0 4px;
  }
}

/*22 october 2018*/
.epd_section{float:right;padding: 0 5px;}

/*New css*/
.customerhead {background: #d1d5da; padding: 10px; margin-bottom: 20px;color: #000;}
.customerhead .account-add span{display: block;  font-weight: 500;}
.customerhead .account-head p{font-weight:600;}
.customerhead .account-desc span{font-weight:600; margin-bottom: 15px; display: block;}
.customerhead .account-desc small{display: block; font-size: 14px;}

.pending-inv{color: #23527c;font-weight: 600;}
.pending-inv:hover{color: #000;font-weight: 600;}

.ride-hdetails span{padding-right: 5px;}
.ride-hdetails{text-align: right;}
.paymentType-container{width: 100%;float: left;overflow-x: auto;background: #d1d5da;margin-bottom:20px;}
.paymentType-container table{margin:0;}
.paymentType-container table th,.paymentType-container table td{background: #d1d5da;}
.errorText{color: red;}
.float-left{float: left;}
.modal-header-button{
    vertical-align: middle;
    display: table-cell;
}
.modal-header-main{
    display: table;
    width: 100%;
}

#emailPreviewPopup .modal-body #mailContainer{
    text-align: left;
}
/*@media screen and (min-width: 768px) {
  .modal-lg{
      width:900px !important;
  }

  .modal-sm{
      width:300px;
  }
}*/

.checking-tabs .nav-tabs { background: #ffffff; border-bottom: 1px solid #d4d4d4 }
.checking-tabs .tab-content { padding-bottom: 10px !important; }
.checking-tabs .nav-tabs li a { font-family: 'ubuntubold'; text-transform: uppercase; letter-spacing: 0.3px; padding: 14px 15px 10px 15px }
.checking-tabs .checking-list .checking-title { font-family: 'ubuntubold'; font-size: 16px; line-height: 100%; padding: 0 0 10px 0; margin: 0 0 15px 0; border-bottom: 1px solid #d4d4d4 }
.checking-tabs .checking-list ul { margin: 0; padding: 0; }
.checking-tabs .checking-list ul li { position: relative; list-style: outside none none; margin: 0; padding: 0 0 7px 25px; }
.checking-tabs .checking-list ul li:after { position: absolute; content:"\f0a4"; font-family: FontAwesome; left: 0; top: -1px; font-size: 15px; color: #39608d; }
@media (max-width: 991px){
 .checking-tabs .checking-list .checking-title { padding-top: 10px }
}
.bOLastSpanCls{font-weight: bold;}
.bookingOverviewTxt:hover {cursor: default;}
@media (min-width: 1199px){
  #bOLastDiv { display: inline-block; }
  .bookingOverviewTxt { position: relative; z-index: 1 }
  #booking_statistics_content #booking_statistics { margin-top: -48px }
}
#bOLastDiv{color: #3c97ef;}

/*21Feb2020*/
table.dataTable td.detailsRowTd { padding: 0 }
table.dataTable td.detailsRowTd table tr + tr { border-top: 1px solid #ddd }
table.dataTable td.detailsRowTd .tableRowFirst { padding: 5px 8px }
table.dataTable td.detailsRowTd table tr td { padding: 0px 5px; }


.checkbook_btn_main .checkbook_btn:nth-child(1){
  text-align: left;
}
.checkbook_btn_main .checkbook_btn:nth-child(2){
  text-align: center;
}
.checkbook_btn_main .checkbook_btn:nth-child(3){
  text-align: right;
}

/*Password Hide-Show*/
.password-eye {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
.password-eye input{
  position: relative;
  z-index: 99;
  opacity: 0;
}
.password-eye #toggleText{
  position: absolute;
  left: 0;
}