@font-face {
    font-family: 'ubuntumedium';
    src: url('fonts/Ubuntu-M_0-webfont.eot');
    src: url('fonts/Ubuntu-M_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-M_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-M_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-M_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-M_0-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/Ubuntu-R_0-webfont.eot');
    src: url('fonts/Ubuntu-R_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-R_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-R_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-R_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-R_0-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('fonts/Ubuntu-L_0-webfont.eot');
    src: url('fonts/Ubuntu-L_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-L_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-L_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-L_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-L_0-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/Ubuntu-B_0-webfont.eot');
    src: url('fonts/Ubuntu-B_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ubuntu-B_0-webfont.woff2') format('woff2'),
         url('fonts/Ubuntu-B_0-webfont.woff') format('woff'),
         url('fonts/Ubuntu-B_0-webfont.ttf') format('truetype'),
         url('fonts/Ubuntu-B_0-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}
#addTimeSlotContainer .input-group{margin-bottom:15px}
.timeSlotDispaly{background:#f8f8f8;border-radius: 30px;display: inline-block;margin:0 0 15px 15px;padding: 5px 15px;border:solid 1px #EEE}
.time-btn.btn{background:#073870;text-transform:capitalize;margin-bottom:15px}
.time-btn.btn a{color:#FFF}
.addedTimeCancel{cursor:pointer;transition:0.5s all;-webkit-transition:0.5s all;font-size:16px}
.addedTimeCancel:hover{color:#31ccfd }
.checker{display:inline-block}
.days-time{display:inline-block;margin-bottom:15px}
.days-time .btn{margin-bottom:0;background:none;font-size:15px;padding:5px}
.days-time .btn:hover{background:none;color:#31ccfd}
.days-time .btn a{color:#073870}
.days-time .btn a:hover{color:#31ccfd}

.workingdayscombo .btn-group{width:100%}
.workingdayscombo .btn-group .multiselect {width:100% !important;text-align:left}
.workingdayscombo .btn-group .multiselect .caret{float:right;margin:-12px 0 0}
.required{color:#f00}
body{font-family: 'ubunturegular';}
img{ max-width:100%;}
ul{ padding:0; margin:0;}
a:hover, a:focus{ text-decoration:none}
a{ -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;}
 input:focus,.btn:focus{ outline:none}
aside{ background:#435f91; padding:20px 0 0 0}
.aside-title{ font-size:24px; color:#fff; margin:10px 0 15px}
.aside-txt{ color:rgba(255,255,255,.5); font-size:16px;}
.envelope-icon{ background:#fff; width:96px; height:96px; border-radius:100%; float:left; text-align:center; line-height:96px; color:#435f91; font-size:56px; margin:0 15px 0 0}
aside .btn-default{ font-size:18px; min-width:120px; margin:10px 0 20px}
.aside-right{ overflow:hidden}
.aside-social a{ font-size:40px; color:rgba(255,255,255,0.4); margin:20px 14px 0; display:inline-block}
.aside-social a:hover{ color:rgba(255,255,255,1)}
.mobile-site{ font-size:18px; color:#fff; overflow:hidden; margin:20px 0 0 15px}
.mobile-site b{ font-size:24px; font-weight:normal}
.mobile-img{ margin:0 15px 0 0; float:left}
footer{ background:#073870; border-top:solid 7px #022458; padding:30px 0 0}
footer li{ list-style-type:none}
footer ul{ padding:0; margin:0;}
footer li a{ color:#fff; font-size:12px}
footer li a:hover, footer li a.active{ color:#8ec11a}
.copy-right{ background:#39608d; padding:20px 0; margin:30px 0 0 0; font-size:10px; color:#fff;}
.netclues-logo span{ background:url(../images/netclues-logo.png) no-repeat; opacity:.7; width:56px; height:14px; display:inline-block; margin:0 0 0 5px}
.netclues-logo span:hover{ opacity:1;}

.sticky-wrapper{ height:auto !important}

.shrink.top-bar{ width:100%;position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;  }
.pattern-page .shrink.top-bar{ max-width:1024px}
.shrink .search-section{height: 44px; left:0; right:0; margin:10px auto; padding:3px;}
.shrink .search-container input{ padding:8px 18px 8px 10px;}
.shrink .all-cat{ line-height:36px; font-size:16px}
.shrink .logo img{ max-width:225px}
.shrink .top-list li a{ padding:0 10px; font-size:16px; line-height:64px; cursor:pointer}
.shrink .go-btn{ line-height:26px; font-size:20px; width:74px;}
.shrink .all-cat i.fa-plus{ padding:0}
.shrink .chzn-container-single .chzn-single{ height:30px; line-height:32px;}
header,.top-bar{ transition: all 0.4s ease-in-out 0s; -webkit-transition:all 0.4s ease-in-out 0s; -moz-transition:all 0.4s ease-in-out 0s; -o-transition:all 0.4s ease-in-out 0s;}
.shrink .logo{ margin-top:10px; margin-bottom:10px;}
.shrink .fix-search{ display:block; }
.fix-search{ display:none; width:830px;}
.shrink  .chzn-container-single .chzn-single abbr{ top:6px;}
.pattern-page .directory-tab li{ width:33.33%}
#nav-mobile-btn{ background-color: transparent;  border:0 none; color:#fff;  display:none;  font-size:30px; text-align:center;  transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; position:absolute; right:15px; top:7px; padding:0; margin:0; width:30px;outline:none}
#nav-mobile-btn:active, #nav-mobile-btn:hover{ color:#8ec11a}
.nav-mobile{ background:#073870;  height:100%;  left:0;  overflow:auto;  padding:15px 0;  position:fixed;  top:0;  transform:translate3d(-100%,0px,0px);  transition:all 0.5s ease 0s; -webkit-transform:translate3d(-100%,0px,0px);  -webkit-transition:all 0.5s ease 0s;  visibility:hidden;  width:250px;  z-index:99999; box-shadow:-2px 0 5px 0 rgba(0,0,0,0.3) inset}
.nav-mobile >i{ background-color:rgba(0,0,0,0); cursor:pointer;  font-size:28px; position:absolute;  right:10px;  text-align:center;  top:6px;  transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease 0s; color:#fff}
.nav-mobile >i:hover, .nav-mobile >i:active{color:#8ec11a}
.nav-mobile h2{color:#8ec11a;margin:10px 0 25px;  text-align:center; font-size:22px; text-transform:uppercase}
.nav-mobile h2 i{margin-right:10px;font-size:21px}
.nav-mobile a{ color:#6ea5e3;font-size:20px}
.nav-mobile a:hover{ color:#fff;text-decoration:none}
.nav-mobile a:focus{ text-decoration:none}
.nav-mobile ul{ list-style:outside none none}
.nav-mobile >ul{ padding:0}
.nav-mobile >ul li{ float:none; padding:0 15px}
.nav-mobile >ul li >a{ display:inline-block;  margin:5px 0; padding:0; text-shadow:none}
.nav-mobile >ul ul{ border-left:1px solid rgba(255,255,255,0.08);  padding-left:15px; margin:0}
.nav-mobile::after{ background:none repeat scroll 0 0 rgba(0,0,0,0.2);  content:"";  display:none;  height:100%;  opacity:1;  position:absolute;  right:0;  top:0;  transition:opacity 0.5s ease 0s; -webkit-transition:opacity 0.5s ease 0s;  width:100%}
.nav-mobile.open{-webkit-transform:translate3d(0px,0px,0px);  transform:translate3d(0px,0px,0px);  transition:transform 0.5s ease 0s; -webkit-transition:-webkit-transform 0.5s ease 0s;  visibility:visible}
.nav-mobile.open::after{ height:0;  opacity:0;  transition:opacity 0.5s ease 0s,width 0.1s ease 0.5s,height 0.1s ease 0.5s; -webkit-transition:opacity 0.5s ease 0s,width 0.1s ease 0.5s,height 0.1s ease 0.5s;  width:0}
.nav-right{float:right}
.nav-mobile.open .navbar-nav{display:block}
.nav-mobile.open .nav-right{float:none}
.nav-mobile.open .navbar-nav >li >a:hover, .nav-mobile.open .nav .open >a, .nav-mobile.open .nav .open >a:hover, .nav-mobile.open .nav .open >a:focus, .nav-mobile.open .nav >li >a:hover, .nav-mobile.open .nav >li >a:focus{background:none}
.nav-m{ display:none}
.nav-mobile.open .nav-m{ display:block}
.m-menu{ border-bottom:solid 1px #000; margin:5px 0}
.m-menu a{ color:#fff; font-size:18px;}
.m-menu a:hover{ color:#8ec11a}
.m-menu a i{ margin-right:15px}

#wrapper.open{ overflow:hidden;  position:fixed;  transform:translate3d(250px,0px,0px); -webkit-transform:translate3d(250px,0px,0px)}
#wrapper::after{ background:none repeat scroll 0 0 rgba(0,0,0,0);  content:"";  height:0;  opacity:0;  position:absolute;  right:0;  top:0;  transition:opacity 0.5s ease 0s,width 0.1s ease 0.5s,height 0.1s ease 0.5s; -webkit-transition:opacity 0.5s ease 0s,width 0.1s ease 0.5s,height 0.1s ease 0.5s;  width:0;  z-index:1002}
#wrapper{  height:100%;  left:0;  overflow:hidden;  position:relative;  transition:transform 0.5s ease 0s; -webkit-transition:-webkit-transform 0.5s ease 0s;  z-index:99}
.back-to-top {
    bottom: 18px;
    display: none;
    position: fixed;
    right: 15px;
	z-index:9999;transition:0.5s all
}
.back-to-top i {
    background-color: #444444;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 36px;
}
.back-to-top:hover i {
    background-color: #8ec11a;
}

.boxed-page{ background-color: #ffffff;
       margin: 0 auto;
    position: relative;
	
    }
.pattern-page .owl-buttons{ display:none;}
.pattern-page .aside-social a{ font-size:36px;}
.pattern-page .fix-search{ width:450px}

/*.modal {
  text-align: center;
}*/

.modal:before {
  /*display: inline-block;*/
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*.modal { width:auto !important; } */
.modal-dialog{ width:100%}
#aliaslabel{ display: inline-block;    margin-bottom: 10px;    margin-top: -3px;}
.paging_bootstrap_extended{width:200px}
table.Search-box tr td{vertical-align:middle;text-align:center;border:none}

.book-ride-table #couponCodeError{ margin-left:10Px;}





@media screen and (-webkit-min-device-pixel-ratio:0){
 ::i-block-chrome, footer li a,  ::i-block-chrome, .copy-right, ::i-block-chrome, .aside-title, ::i-block-chrome, .mobile-site, ::i-block-chrome, .aside-txt, ::i-block-chrome, .title, ::i-block-chrome, .add-title, ::i-block-chrome, .gray-box-text,  ::i-block-chrome, .banner-title, ::i-block-chrome, .map-text, ::i-block-chrome, .name, ::i-block-chrome, .position, ::i-block-chrome, .tes-disc{ -webkit-text-stroke: .01px #fff;}
/*::i-block-chrome, .search-container{width:89%;}*/
::i-block-chrome, .shrink .search-container input{ padding:8px 18px 8px 5px; font-size:13px}


}


/*reservation*/

/*Reserved Bike Page*/
.reserve-bike-section .reservation-list{/*background:url(../images/bike-bg.png) no-repeat;*/margin-top:30px;text-align: center;padding:5px 0px 5px;position:relative;margin-top:100px !important;}
.reserve-bike-section .info-reserved,.reserve-bike-section .info-available,.reserve-bike-section .info-selected{display: inline-block;margin-right:20px;}
.reserve-bike-section .info-reserved i{width:20px;height:20px;background:#54b8d7;display:inline-block;border-radius:100%;float:left;margin-right:10px;border: 1px solid #54b8d7;}
.reserve-bike-section .info-available i{width:20px;height:20px;display:inline-block;border-radius:100%;float:left;margin-right:10px; border: 1px solid #000;}	
.reserve-bike-section .info-selected i{width:20px;height:20px;display:inline-block;border-radius:100%;float:left;margin-right:10px;background:#073870}
.reserved-info{margin-bottom:25px;text-align:center;margin:0 0 5px}
.reservation-list .bike-list li label{ /*background:url(../images/bike-free.png) no-repeat center center;*/ border:1px solid #666; border-radius:100%; width:50px;height:50px;text-align:center;color:#000;cursor:pointer;line-height:50px;font-size:18px;background-size:100%}
.reservation-list .bike-list li{display:inline-block;margin:0 5px 10px;outline:none;position:relative;width:8%;text-align:center}
.reservation-list .bike-list li.reserved{position:relative;opacity:0.2}
.reservation-list .bike-list li.reserved::after{height:100%;width:100%;cursor:default;content:"";position:absolute;top:0;left:0}

.reservation-list .bike-list li input[type="radio"]:checked + label.reserved-bike{background:url(../images/bike-resved.png) no-repeat center center;background-size:100%}
.reservation-list .bike-list li input[type="radio"]:disabled + label.reserved-seat {opacity:1; background-color:#54b8d7; border-color:#54b8d7; cursor:default; background:url(../images/logo-disable.png) no-repeat center center; background-size:58px 58px; color:transparent;}
.dashbord .reservation-list .bike-list li input[type="radio"]:disabled + label.reserved-seat {opacity:1; background-color:#54b8d7; border-color:#54b8d7; cursor:default; background:url(../images/logo-disable.png) no-repeat center center; background-size:35px 35px; color:transparent;}
.reservation-list .bike-list li input[type="radio"]:disabled + label.reserved-seat.checked-in {opacity:1; background-color:#54b8d7; border-color:#54b8d7; cursor:default; background:url(../images/sucess-icon.png) no-repeat center center; background-size:58px 58px; color:transparent;}

.reservation-list .bike-list li input[type="radio"]:disabled + label.not-available{background:#CCC;border:solid 1px #CCC;color:#eee;padding:0;opacity:0.8}

.reservation-list .bike-list li label.selectedSeat{/*background:url(../images/logo-selected.png) no-repeat center center; background-size:100%;*/ border-color:#073870; background-color:#073870; color:#fff; }
.row-left .bike-list li input + label { transform:rotate(-90deg); -webkit-transform:rotate(-90deg); }
.row-right .bike-list li input + label { transform:rotate(90deg); -webkit-transform:rotate(90deg); }
.row-left .bike-list li input[type="radio"]:disabled + label { transform:rotate(-90deg); -webkit-transform:rotate(-90deg); }
.row-right .bike-list li input[type="radio"]:disabled + label { transform:rotate(90deg); -webkit-transform:rotate(90deg);}
@media screen and (min-device-width: 1023px) and (max-device-width: 1920px) { 
	.row-left .bike-list li input[type="radio"]:disabled + label, .row-right .bike-list li input[type="radio"]:disabled + label {/* padding:0 23px; */}	
}
/*Reserved Bike Page*/
.reserve-bike-section h2{text-align: center;color:#000}
.reserve-bike-section h2 span{display: block;font-size: 16px;margin-top: 20px;}
.reserve-bike-section .reservation-list{width:790px;margin: auto;background-size:100%}
.reservation-list .bike-list{list-style:none;padding:0; direction: rtl;}
.reservation-list .rows{text-align:center;margin-bottom:5px;position:relative;/*z-index:99*/}  
.reservation-list .bike-list li input{visibility:hidden;position: absolute;top: 8px;left: 11px;}	
.reservation-list .bike-list li input[type="radio"]:checked + label.reserved-bike{cursor:no-drop;pointer-events:none;color:#aaa;box-shadow:none;border-color:#ccc;background-position: 0 0}

.reserve-bike-section .row-left{position:absolute;left:-267px;top:67px;width:100%;transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1}
.reserve-bike-section .row-left ul li,.reserve-bike-section .row-right ul li{width:6%}

.reserve-bike-section .row-right{position:absolute;right:-257px;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);top:95px;width:100%}


.reservation-list .bike-list li a:hover,.reservation-list .bike-list li a.selected{background:#ffc740;}
.reservation-list .bike-list li a.selected{font-weight: 800;}
.reservation-list  .row-no{position: absolute;left:5px;top: 30px;width: 20px;height: 20px;line-height: 20px;order-radius: 100%;
    color: #000;background: #eee;font-size: 10px;border-radius:100%;}
.reservation-list .instructor{font-size:25px;padding:10px 50px;color:#000;position:absolute;width:50%;top:-30px;left:0;right:0;margin:auto;/*background:url(../images/instructure-icon.png) no-repeat center center;height:250px;line-height:400px;border-bottom:solid 1px #EEE;*/font-weight:700;letter-spacing:2px}
.reservation-list .instructor span { font-size:18px; line-height:20px; letter-spacing:0px;}
.reservation-list .instructor img { display: block; width: 155px; height: auto; margin: 0 auto; border-radius: 100%; height: 155px; border:1px solid #ccc; background: #eee; margin-top:10px; }
.reservation-list .img-booking-fan,.reservation-list .img-booking-left{position: absolute;}
.reservation-list .img-booking-fan{right: 20px;top: 25px;}
.reservation-list .img-booking-left{right:auto; left: 40px;top:25px;}
.reservation-list .btn-res{color:#ffc740;position: absolute;width:30px;height:30px;line-height:28px;text-align: center;background:#000;font-size:20px;border-radius:100%;top:0;bottom:0;margin:auto} 
.reservation-list .btn-res:hover{background:#ffc740;color:#fff}
.reservation-list .btn-res.prev-btn{left: 15px;top: 12px;}
.reservation-list .btn-res.next-btn{right: 15px;top: 12px;}
#back-top{background:#ffc740;display:none;border-radius: 35px;bottom: 60px;color: #fff;display: block;font-size: 22px;height: 50px;line-height: 50px;
    position: fixed;right: 40px;text-align: center;width: 50px;cursor:pointer;transition:all linear .2s;-webkit-transition:all linear .2s;}
#back-top:hover{background:#000;}	


.popup-ints h3{display:inline-block;margin-top: 0;margin-bottom:10px;vertical-align: middle;}
.popup-ints .guide{color:#999;display:inline-block;margin-left: 10px;font-size: 16px;vertical-align: top  }
.popup-ints .guide i,.popup-ints .time i{margin-right:5px;font-size: 18px;color: #ecaf2f;vertical-align:  middle;margin: -4px 5px 0 0; }
.popup-ints .time{float:right;margin-top: 3px}
.input-wd150{width:100px;display:inline-block;margin-left: 10px}
.input-wd200{width:200px;display:inline-block;margin-left: 10px}
.shoe-req .md-radio-inline{display: inline-block;margin:0 0 0 10px}
.bottom-table{bottom:0}
.modal-title .schedule-date{display:inline-block;width:25%;font-weight:normal;font-size:16px;vertical-align:top;font-family:'ubuntumedium';}
.modal-title .classNameHead{display:inline-block;width:47%;text-align:center;font-family:'ubuntumedium';font-size:18px;color:#ecaf2f ;vertical-align:top}
.modal-title .time{display:inline-block;float:right;font-size:15px;margin:2px 20px 0 0;width:22%;text-align:right;vertical-align:top;font-family:'ubuntumedium'}
.modal-title .time i{margin-right:5px;font-size: 18px;color: #ecaf2f;vertical-align:  middle;margin:-2px 2px 0 0; }
.book-ride-table ul.multiselect-container{top:auto;bottom:0}
.waiting-option{display:inline-block;margin:-4px 10px -6px 0;float: right;}
.page-sidebar-menu i.fa { color:#fff !important;}

@media (max-width:1599px){
.boxed-page .owl-buttons{ display:none;}

}

@media (max-width:1400px){
.full-slider{ max-width:1140px}
.directory-tab li{ width:33%}
.slider-content2 p{ min-height:80px}
.fix-search{ width:700px}
.boxed-page .fix-search{ width:490px}
.slider-title2{ font-size:20px}

}
@media (max-width:1279px){
.full-slider{ max-width:1060px}
.pattern-page{ top:0;}
.pattern-page #wrapper{ padding:0;}
}
@media (max-width:1199px){
	.owl-buttons{ display:none}
	.social li a{ font-size:11px;}
	
	.aside-social a{ font-size:32px; margin-left:10px; margin-right:10px;}
	.banner-title{ font-size:42px;}
	.banner-sub-title{ font-size:20px;}
	.slider-title2{ font-size:20px}
	.owl-theme .owl-controls{ margin-top:5px}
	.shrink .logo img{ max-width:200px;}
	.shrink .search-section{ margin-left:225px}
	.fix-search{ width:500px}
	.box-hover .btn-danger{margin:0 5px 5px 0}
	.slider-title{padding:17px 15px 12px}
	.ads-left, .ads-right{display:none}
} 
@media (max-width:991px){
	/*Bike reseved Page*/
/*.reservation-list .bike-list li label { width:35px; height:35px; line-height:35px; font-size:14px; }	*/
.reservation-list .instructor span { font-size:14px;}
.reservation-list .bike-list li input[type="radio"]:disabled + label {background-size:40px 40px;}
.reserve-bike-section .reservation-list{width:100%}
.reservation-list .bike-list li input[type="checkbox"]:checked + label,.reservation-list .bike-list li input[type="checkbox"]:checked + label.reserved-bike,.reservation-list .bike-list li label{background-size:100%}
.reserve-bike-section .row-left ul li, .reserve-bike-section .row-right ul li{width:5.5%}
.reserve-bike-section .row-left{left:-245px}
.reserve-bike-section .row-right{right:-245px}
/*.reserve-bike-section .reservation-list{padding:120px 167px 10px 165px}*/
.reservation-list .rows{padding-top:0}
.reservation-list .instructor{height:235px}
.reserve-bike-section{overflow:hidden}

	.slider-title{ font-size:18px; line-height:22px; padding:13px 15px 8px}
	.slider-title span{ font-size:13px;}
/*	.title{ font-size:34px; line-height:38px;}
*/	.gray-box a{ font-size:20px; line-height:24px;}
	.testimonials{ margin-top:30px}
	.directory-tab li,.pattern-page .directory-tab li{ width:50%;}
	.directory-title{ font-size:24px; line-height:28px;}
	.visible-sm.search-icon{ display:none !important}
.shrink .search-icon{ display:block !important; margin-right:-25px}
.shrink .search-section{ max-width:100%; margin-left:0; margin-top:0;height:45px !important}
.search-iPad{ position:absolute; width:100%; padding:0 10px; left:0; right:0; background:#073870;height:55px !important}
.banner-title{ font-size:36px; line-height:40px}
.search-iPad .search-container{ width:89% !important}
.search-iPad .go-btn{ width:10% !important;}
.flight-icon, .ship-icon,.weather-icon{ background-size:40px auto; width:40px; height:40px; margin:20px 0 0 0}
.weather-icon{ background-size:48px auto; width:42px; height:44px;}
.gray-box a:hover .flight-icon{ background-position:0 -44px}
 .gray-box a:hover .ship-icon{ background-position:0 -37px}
  .gray-box a:hover .weather-icon{ background-position:0 -44px}
.gray-box-arrow{ right:10px}
.gray-box a{ padding:0 10px;}
}
@media (max-width:767px){
	/*reserved Bike*/
/*.reserve-bike-section .reservation-list{padding:50px 120px 20px 140px}*/	
.reservation-list .bike-list li label{height:65px;line-height:140px}
.reservation-list .instructor{width:100%;padding:0;}
.reservation-list .btn-res.next-btn{right:-100px}
.reservation-list .btn-res.prev-btn{left:-100px}
.reserve-bike-section .reservation-list{margin-top:130px !important}
.reserve-bike-section .row-left{left:-200px;top:50px}
.reserve-bike-section .row-right{right:-200px;top:50px}
.shrink .search-section{height:130px !important}
.search-iPad{height:140px !important}
.logo img, .shrink .logo img{ max-width:150px}
.all-cat i.fa-plus{ display:none}
.banner-title{ margin-top:25px}
.search-section{ margin-left:0; margin-right:0; height:auto;}
.search-container,.search-container input,.all-cat{ width:100% !important; }
.search-container{ border:none}
/*.search-container input,.all-cat{ border:solid 1px #c2c2c2; padding:10px; margin-bottom:3px;border-radius:2px; height:40px}
*/.go-btn{ float:none; width:100%; line-height:28px;}
.chzn-container-single .chzn-single{ height:auto; line-height:22px}
.all-cat{ line-height:20px; font-size:16px;}
.chzn-container{ padding:0}
.chzn-container-single .chzn-single abbr{ top:2px;}
.banner{ background-size:auto 380px}
.explore-btn{ font-size:18px;}
.explore-icon,.add-icon{ width:30px; height:30px; background-size:30px}
.slider-title{ padding:15px 5px 5px}
/*.title{ font-size:28px; margin:15px 0}
*/.full-slider .slider-box{ margin:0 10px}
.icon-bg .title{ margin:15px 0}
.box{ margin-bottom:15px}
.testimonials{ margin-top:0}
.btn-lg3{ font-size:18px; margin-top:20px; margin-bottom:70px}
.home-bg{ background-size:auto 70px}
.directory{ padding:20px 0}
.directory-title{ font-size:21px; line-height:25px;}
.directory-sub-title{ font-size:15px; line-height:19px;}
.directory-list{ margin:0 5px; background:#fff;}
.nav-tabs.tabs-left{ width:100%; padding:10px 0}
.envelope-icon{ width:48px; height:48px; line-height:48px; font-size:28px;}
.aside-title{ margin-bottom:0;}
.aside-social a{ margin-bottom:25px; margin-top:15px}
.copy-right .col-sm-6.text-right{ text-align:left; margin-top:3px}
.shrink .top-list li a{font-size:22px; }
.shrink .top-list li a, .shrink #nav-mobile-btn{ line-height:49px;}
.shrink #nav-mobile-btn{ right:50px; top:2px}
.search-iPad .search-container,.search-iPad .go-btn{ width:100% !important}
.shrink .search-section{ height:100%}
.shrink .chzn-container-single .chzn-single{ font-size:16px;}
.shrink .all-cat{ padding:0;}
.back-to-top{ display:none !important}
.explore-btn{ margin:10px 0}
.owl-theme .owl-controls .owl-page span{ margin-top:0;transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
.btn-lg2{ margin-top:15px}
.gray-box{ height:auto; overflow:hidden; padding:10px 0;}
.gray-box-text{ height:auto; line-height:40px}
.flight-icon,.ship-icon,.weather-icon{margin:0}
.viewsitemobile{ display:none !important}
}
@media (max-width:600px) {
.reservation-list .bike-list li{margin:0 4px}
.reservation-list .bike-list li label{height:55px;line-height:120px}
.reserve-bike-section .row-left{left:-180px}
.reserve-bike-section .row-right{right:-180px}
}
@media (max-width:480px) {
.reserve-bike-section .row-left ul li, .reserve-bike-section .row-right ul li{width:5%}
.reserve-bike-section .row-left {left: -150px;top: 40px;}
.reserve-bike-section .row-right {right: -150px;   top: 40px;}
}
@media (max-width:479px) {
	.slider-box{ margin:0;}
	.gray-box a{ font-size:18px;}
}
@media (max-width:375px) {
/*reseved bike*/	
.reservation-list .bike-list li{margin:0 4px}
.reservation-list .bike-list li label{height:30px;line-height:70px;font-size:13px;margin-bottom:5px}
.reserve-bike-section .row-left {left: -115px;top: 25px;}
.reserve-bike-section .row-right {right: -115px;top: 20px;}
.reservation-list .btn-res.next-btn{right:-50px}
.reservation-list .btn-res.prev-btn{left:-50px}
.reserve-bike-section .info-reserved,.reserve-bike-section .info-available,.reserve-bike-section .info-selected{margin-right:10px}
}
@media (max-width:360px)
{
/*reseved bike*/		
	.reserve-bike-section .row-left {left: -107px;top:30px;}
	.reserve-bike-section .row-right{right:-107px;top:30px}
	.reservation-list .bike-list li label{line-height:65px}
}
@media (max-width:320px)
{
	.reservation-list .bike-list li{margin:0 3px}
.reservation-list .bike-list li label{height:24px;font-size:12px;line-height:60px}
.reserve-bike-section .row-left{left:-93px}
.reserve-bike-section .row-right{right:-93px}
}
.tag-input {height: 75px !important;}
.mt15 { margin-top:15px; }
.mb15 { margin-bottom:15px; }
.form_minheight { min-height:200px; }
.form_minheight .btn { border-radius:5px !important;}
#customModal .modal-content {box-shadow:none; -webkit-box-shadow:none;}
form .dropdown-menu { margin-top:0px !important; }
.modal-scrollable .modal-body { overflow:hidden; }
.book-a-ride-table tr.heading > th { width:14%; }
.book-a-ride-table .ryde-info td .res-col { min-height:190px;}
/* .sales-add-item { float:right;}*/
@media (max-width:1366px)
{
	.book-a-ride-table .ryde-info td .res-col { min-height:250px;}
}
@media (max-width:1280px)
{
	.book-a-ride-table .ryde-info td .res-col { min-height:275px;}
}
@media (max-width:1024px)
{
	.book-a-ride-table .ryde-info td .res-col { min-height:335px;}
/*.sales-add-item { float: none;}*/
}
.btn-group .multiselect { z-index:100 !important;}
.btn-group .multiselect  .caret { position:absolute; right:10px; top:15px;}

.row-right ul.bike-list  { position:relative; }
.row-right ul li:first-child { position: absolute; left: 270px; right: 0px; bottom: 0px; top: -25px; }
.row-left ul.bike-list  { position:relative; }
.row-left ul li:last-child { position: absolute; left: 486px;  right: 0px;  bottom: 0px; top: -36px; }
@media screen and (min-device-width: 1023px) and (max-device-width: 1920px) { 
    .row-right ul.bike-list li { margin:7px; }
	.row-left ul.bike-list li { margin:7px; }
}

@media (max-width:767px)
{
	.reservation-list .bike-list li label {height: 35px; width: 35px; line-height: 35px; font-size:14px;}
	.reservation-list .rows { margin-bottom:5px;}
    .reservation-list .bike-list li { margin-bottom: 7px; }
}
@media (max-width:640px)
{
	.reservation-list .instructor img { width:100px; height:100px; }
}	

.dashbord  .reservation-list{ width:100%; padding: 50px 0px 10px;  max-width: 550px;}
/*.dashbord .reservation-list .bike-list li { width: 12%; }*/
.dashbord .reservation-list .bike-list li label { width: 35px; height: 35px; line-height: 35px; font-size: 15px; }
.dashbord .reservation-list .row-left { left: -235px; top: -10px; }
.dashbord .row-right ul li:first-child { left: 165px; top: -26px; }
.dashbord .row-left ul li:last-child { left: 343px; }
.dashbord .reservation-list .instructor{ top: -180px;}
.dashbord .reservation-list .row-right {right: -224px; top: 23px;}
.dashbord .reservation-list.mgtop0{ margin-top: 160px !important; min-height:170px;}
.dashbord .reservation-list .row-left ul.bike-list li { margin: -6px; }
.dashbord .row-right ul.bike-list li {margin: -6px;}

.dashbord .reservation-list .instructor{width:80%;}
#UpComingClass .dashbord-upcoming{min-height:450px;}
.dashbord-upcoming .form-control{width:28%; margin-right:5px;}
.dashbord-upcoming .input-medium{ width:38% !important;}
.dashbord-upcoming button.btn{font-size:14px!important; padding: 4.5px 10px !important;}
.dashbord-upcoming button.btn.red { padding: 6px 10px !important; width:77px; }
.dashbord-upcoming .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){ border-radius:4px; font-size:14px;}
.Instructor_box  button.btn{font-size:14px!important; padding: 6px 10px !important;}
.Instructor_box .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){ border-radius:4px; font-size:14px;}
/*.daily_box .form-control{width:80% !important; margin-right:5px;}*/
.daily_box button.btn{font-size:14px!important; padding: 6px 10px !important;}
.daily_box .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){ border-radius:4px; font-size:14px;}
.dashboard-stat .details .desc{font-size:14px;}
.dashbord-upcoming .bootstrap-select{ float:left !important; padding:0; margin-right:5px; border-radius:4px;}
.dashbord-upcoming .bootstrap-select .btn-default{background-color: #eeeeee; border:1px solid #dddddd;}
.dashbord-upcoming .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn{border-radius:4px !important; padding: 4.5px 10px !important;}
.Instructor_box .btn-group label{font-weight:bold;}
/*.Instructor_box .btn-group .form-control{width:80% !important; margin-right:5px;}*/
.red-intense .details .number{padding-top: 15px !important;}
.blue .details .number{padding-top: 15px !important;}
.dashboard-stat .details .title{ font-size:20px !important; }
.title-w-button{position:relative;margin-top:15px}
.title-w-button h3.form-section{padding-bottom:15px}
.title-w-button button.btn{position:absolute;right:0;top:-4px}
.title-w-button .three-btn{position:absolute;right:0;top:0px}
.title-w-button #insScheduleDownload.three-btn .schedule{margin-top:0}
.title-w-button #insScheduleDownload.three-btn .schedule:first-child{margin-right:0}
.title-w-button #addCardDetailsBox{position:absolute;right:0;top:-4px}


.reservation-list .bike-list li.dropdown:hover .dropdown-menu { display:block;}
.res-customer-detail.dropdown-menu { padding:5px 10px; width:260px; margin:0 !important; line-height:18px;}
.res-customer-detail.dropdown-menu:before { left:18px !important;}
.res-customer-detail.dropdown-menu:after { left:19px !important;}
.res-customer-detail.dropdown-menu hr { margin:5px 0;}
/*.res-customer-detail.dropdown-menu .btn.default { margin-top:15px;}*/
.res-customer-detail.dropdown-menu .btn.default { margin-top:-2px;}

@media (max-width:1360px){
    .dashbord .reservation-list .row-left{left: -195px;  top: 0;}
    .dashbord .reservation-list .row-left{left: -180px; top: -15px;}
    .dashbord .reservation-list .row-left ul.bike-list li{ margin: -1px;}
    .dashbord .reservation-list .row-right{ right: -194px;  top: 0;}
    .row-left ul li:last-child{top: -22px;}
    .dashbord .row-left ul li:last-child{ left: 265px;}
    .dashbord .reservation-list .row-left ul.bike-list li{margin: 0;}
    .dashbord .row-right ul.bike-list li{ margin: 0;}
    .dashbord .row-right ul li:first-child{left: 100px; top: -10px;}
    .dashbord .reservation-list .row-right{right: -165px; top: 0;}
}

@media (max-width:840px){
    .dashbord .reservation-list .instructor{ top: -170px;}
.modal-content .row-left ul li:last-child{top:-39px; left:367px;}
.modal-content .reserve-bike-section .row-left { left:-200px; top:94px;}
.modal-content .reserve-bike-section .row-right{ top:111px; right:-187px;}
.modal-content .row-right ul li:first-child { left:230px; top:-28px;}
/*.modal-content .reserve-bike-section .reservation-list { padding-top:194px;}*/

}
@media (max-width:767px){
    .dashbord-upcoming .form-control{width:100%; margin-bottom:5px;}
    .dashbord-upcoming .bootstrap-select {margin-bottom:5px;}
    /*.modal-content .reserve-bike-section .reservation-list { padding-top:155px;}*/
}
@media (max-width:640px){
    
    .dashbord .reservation-list .instructor{top: -120px;}
    .dashbord .reservation-list{ margin-top: 110px !important;}
}
@media (max-width:500px){
    .dashbord .reservation-list .row-left{left: -100px;  top: -6px;}
    .dashbord .reservation-list .row-right{ right: -100px;  top: 28px;}
    .dashbord .reservation-list .bike-list li label{ font-size: 10px; height: 23px; line-height: 23px; width: 30px;}
    .dashbord .row-right ul.bike-list li{ margin: 4px; padding:2px}
    .dashbord .reservation-list .row-left ul.bike-list li{margin: 4px; padding:2px;}
}

@media print { a[href]:after { content: none !important; } }

#UpComingClass .dropdown:hover .dropdown-menu { display:block;}
#UpComingClass .dropdown-menu::after { left:49px !important; }
#UpComingClass .dropdown-menu::before { left:48px !important; }
.modal-body .search-music-label{ float: left; padding-top: 5px; width: 55px; }
.modal-body .search-music-fld{ float: left;width: 360px;}

.atlantic-img img{
    width: 170px;
    max-width: 170px;
}
.table-hover.datatable-new{
    margin-top: 25px;
}

@media (max-width:767px){
    .modal-title .schedule-date, .modal-title .classNameHead, .modal-title .time { width: 100%; text-align: center; margin: 2px 0; }
}    
.speaker{background:url(../images/speaker.png) no-repeat; width:28px; height:40px; display:inline-block;}
.speaker_buttom{ display: block; margin: auto; margin-bottom: 20px;}
.speaker_top_left{ position: relative; float: left; display: block; margin: 0 auto 20px auto; left: 30%;  }
.speaker_top_right{ position: relative; float: right; display: block; margin: 0 auto 20px auto; right: 30%;}
.speaker_top{ width:100%; margin:auto;}
.speaker_middle_left{ position: relative; float: left; display: block; margin: 0 auto 20px auto; left: 4%;  }
.speaker_middle_right{ position: relative; float: right; display: block; margin: 0 auto 20px auto; right: 4%;}
.speaker_middle{ width:100%; margin:auto; position:relative; top:135px; }
.entrance-door{width: 65px; height: 65px;  background: url(../images/door.png) no-repeat;  position: absolute; top: 30px; right: 1px;}
.info-speaker i{background:url(../images/info-speaker.png) no-repeat; width:16px; height:22px; margin-right:10px; position:relative; vertical-align:middle; display:inline-block;}
@media (max-width:991px){
    .speaker_middle_left { left: 2% }
    .speaker_middle_right { right: 2% }
}
@media (max-width:767px){
    .speaker_middle { top: 112px; }
    .speaker_middle_left { left: 0 }
    .speaker_middle_right { right: 0 }    
}
@media (max-width:639px){
    .speaker { background-size: 100% auto; width: 20px; height: 30px; }
    .reservation-list .bike-list li { width: 7%; margin-bottom: 5px; }
    .reservation-list .bike-list li label { line-height: 30px; width: 30px; height: 30px; font-size: 13px; }
    .speaker_middle { top: 97px; }
}   
@media (max-width:480px){
    .reserve-bike-section .info-reserved, .reserve-bike-section .info-available, .reserve-bike-section .info-selected, .info-speaker {width:50%; margin-right:0; display:inline-block; margin:0 -2px; margin-bottom:10px;}
    .reserve-bike-section .info-reserved i, .reserve-bike-section .info-available i, .reserve-bike-section .info-selected i, .reserve-bike-section .info-speaker i {float: none;vertical-align: middle;}
}
@media (max-width:479px){
    .speaker { background-size: 100% auto; width: 18px; height: 28px; }
    #reservationBookingModal .modal-body { padding: 5px 0 }
    .reservation-list .bike-list li label { line-height: 24px; width: 24px; height: 24px; font-size: 11px; }
    .speaker_middle { top: 88px; }
    .speaker_middle_left { left: -7px }
    .speaker_middle_right { right: -7px }
} 
@media (max-width:325px){
    .reservation-outer.pdbox { width: 93%; }
    .speaker_middle_left { left: 0px }
    .speaker_middle_right { right: 0px }
}    


#dashbord-reserve-bike .speaker_middle { top: 115px; }
#dashbord-reserve-bike .speaker_middle_left { left: 0px; }
#dashbord-reserve-bike .speaker_middle_right { right: 0px }
#dashbord-reserve-bike .speaker_buttom { margin-top: 0px; }
#dashbord-reserve-bike .entrance-door { top: -70px; right: -10px; }
@media (max-width:1366px){
   #dashbord-reserve-bike .reservation-list .bike-list li { width: 7%; }
   .dashbord .reservation-list .bike-list li label { width: 33px; height: 33px; line-height: 33px; font-size: 14px; }
   #dashbord-reserve-bike .speaker { background-size: 100% auto; width: 24px; height: 35px;  }
   #dashbord-reserve-bike .speaker_middle { top: 110px; }
} 
@media (max-width:1024px){
    #dashbord-reserve-bike .speaker_middle_left { left: 4%; }
    #dashbord-reserve-bike .speaker_middle_right { right: 4% }
}
@media (max-width:767px){
    #dashbord-reserve-bike .entrance-door { right: 1px; }
}    
@media (max-width:639px){
    #dashbord-reserve-bike .speaker_middle_left { left: 0; }
    #dashbord-reserve-bike .speaker_middle_right { right: 0 }
} 
@media (max-width:479px){
    .dashbord .reservation-list .bike-list li label { width: 24px; height: 24px; line-height: 24px; font-size: 11px; }
    #dashbord-reserve-bike .speaker { width: 16px; height: 27px; }
    #dashbord-reserve-bike .speaker_middle { top: 88px; }
    #dashbord-reserve-bike .speaker_middle_left { left: -5px; }
    #dashbord-reserve-bike .speaker_middle_right { right: -5px }
    #dashbord-reserve-bike .reservation-outer.pdbox { width: 100%; }
}  


.reservation-list .bike-list li:first-child .dropdown-menu, .reservation-list .bike-list li:nth-child(2) .dropdown-menu, .reservation-list .bike-list li:nth-child(3) .dropdown-menu {right: 0;}
.reservation-list .bike-list li:first-child .dropdown > .dropdown-menu::before, .reservation-list .bike-list li:nth-child(2) .dropdown > .dropdown-menu::before, .reservation-list .bike-list li:nth-child(3) .dropdown > .dropdown-menu::before { left: auto !important;  }
.reservation-list .bike-list li:first-child .res-customer-detail.dropdown-menu::after, .reservation-list .bike-list li:nth-child(2) .res-customer-detail.dropdown-menu::after, .reservation-list .bike-list li:nth-child(3) .res-customer-detail.dropdown-menu::after { left: auto !important; }
.reservation-list .bike-list li:first-child .res-customer-detail.dropdown-menu::after, .reservation-list .bike-list li:nth-child(2) .res-customer-detail.dropdown-menu::after, .reservation-list .bike-list li:nth-child(3) .res-customer-detail.dropdown-menu::after { right: 19px !important }
.reservation-list .bike-list li:first-child .res-customer-detail.dropdown-menu::before, .reservation-list .bike-list li:nth-child(2) .res-customer-detail.dropdown-menu::before, .reservation-list .bike-list li:nth-child(3) .res-customer-detail.dropdown-menu::before { right: 18px !important; left: auto !important; }
@media (max-width:325px){
    .res-customer-detail.dropdown-menu { width: 230px; }
}

.atlantic-img {
    text-align: right;
    margin-top: 25px;
}
@media (max-width:479px){
    .atlantic-img {
        text-align: center;
    }
}


@media (max-width: 1024px){
	.book-a-ride-table .ryde-info td .res-allow .resSubstitueFlag a{
		
	}
	.book-a-ride-table .ryde-info td .res-allow span.resClassName.sat-col{
		padding-right: 0px !important;
	}
	.book-a-ride-table .ryde-info td .res-allow .right_inform {
		position: relative !important;
		display: block;
		float: left;
	}
	.book-a-ride-table .ryde-info td .res-allow .res-class-title{
		display: block;
	}
	.book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount .red.btn{
		line-height: 19px !important;
	}
	.book-a-ride-table .ryde-info td .res-allow .right_inform .resCustomerCount{
		margin: 0 3px 0 0 !important;
	}
	.btn-xs{
		font-size: 11px !important;
		letter-spacing: -1px;
	}
	.btn{
		margin-right: 3px !important;
	}
	.book-a-ride-table .ryde-info td .res-allow span.resClassName{
		font-size: 13px !important;
	}
	.book-a-ride-table .ryde-info td .res-allow .resInstuctorName {
	    font-size: 12px;
	}
	.book-a-ride-table .ryde-info td .res-allow .resTimeSlot{
		font-size: 12px !important;
	    letter-spacing: -1px;
	}
	.book-a-ride-table .ryde-info td .res-allow{
		padding: 10px 5px 0 5px !important;
	}
}
.property-data>div{padding: 5px;}
.property-name{margin: 10px 0px;}